@import 'base.less';

#header{
    .left{
        text-align: center;
        a{  
            color:#fff;
            line-height:  .45rem;
            font-size: .16rem;
        }
    }
}
/* 搜索页面的主体样式 */
#main {
    background-color: #fff;

    /* 搜索表单样式 */
    .search-form {
        padding: .1rem;

        form {
            display: flex;

            input {
                flex: 1;
                height: .36rem;
                border: 1px solid @main-color;
                background-color: #fff;
                text-align: left;
                font-size: .14rem;
                border-radius: .06rem 0 0 .06rem;
                margin-bottom: 0;
            }

            button {
                width: .6rem;
                height: .36rem;
                background-color: @main-color;
                border-color: @main-color;
                border-radius: 0 .06rem .06rem 0;
            }
        }
    }

    /* 搜索历史的样式 */
    .search-history {
        // padding: .1rem;

        .title {
            padding: .1rem;
            display: flex;
            // 伸缩布局的2端对齐
            justify-content: space-between;
            align-items: center;
            box-shadow: 0px 0px 2px #666;
            border-radius: .06rem .06rem 0 0;

            a {
                color: #666;
            }
        }

        .content {
            box-shadow: 0px 0px 2px #666;
            border-radius: 0 0 .06rem .06rem;

            .mui-table-view-cell:after {
                left: 0;
            }
        }

        .mui-card-header {
            span {
                font-size: .14rem;
            }

            a {
                font-size: .14rem;
                color: #666;
            }

            .mui-table-view-cell:after {
                left: 0;
            }
        }


    }
}